body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper{
    background-image: url(../assets/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    position: relative;
}

.title{
    position: absolute;
    padding: 70px;
}

.left.title {
	top: 0;
    left: 0;
    width: 500px;
}

.right.title {
	bottom: 0%;
	right: 0%;
    width: 450px;
}

.dots{
    position: absolute;
    height: 300px;
    padding: 70px;
}

.left.dots {
    bottom: 0;
	left: 0;
}

.right.dots {
	top: 0;
    right: 0;
    text-align: end;
}

 .title img{
    width: 100%;
    height: auto;
}

.dots img{
    width: auto;
    height: 100%;
}

.middle-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-container{
    width: 560px;
    height: 260px;
    border: 7px solid white;
    box-shadow: inset 8px 15px 13px 1px rgba(44,44,44,0.25), 8px 15px 13px 1px rgba(44,44,44,0.25);
    position: relative;
}

.margin{
    position: absolute;
    height: 120px;
    padding: 15px;
}

.margin.left {
    bottom: 0;
    left: 0;
}

.margin.right {
	top: 0;
    right: 0;
}

.margin img{
    width: auto;
    height: 100%;
}

.middle-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.title-container{
    width: 300px;
}

.title-container img{
    width: 100%;
    height: auto;
}

.underline{
    border-bottom: solid 2px white;
    width: 160px;
    padding-top: 25px;
}

.description{
    text-transform: uppercase;
    color: white;
    font-family:'Open Sans', Georgia, Arial, sans-serif;
    font-size: 8px;
    font-weight: bold;
    padding-top: 25px;
    text-align: center;
    width: 400px;
    opacity: 0.9;
}